@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxanium', sans-serif;    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    font-size: larger;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #140001;
    color: #ffffff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header li {
    padding: 0.5em;
    transform: translate(-2em);
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}

nav ul {
    display: flex;
    list-style-type: none;
  }
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.nav-logo {
    height: 40px;
    width: auto;
  }
  
.logo {
    display: flex;
    align-items: center;
    transform: translate(2em);
  }
  

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff0000;
}

footer {
    background-color:#140001;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

.social-links {
    margin-top: 1rem;
}

.social-links img {
    margin-top: 1rem;
    height: 1.5em;
    width: 1.5em;
    transform: translate(0, 0.5em);
}

.social-links a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff0000;
}

.social-links img:hover svg path {
    fill: #ff0000;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #850216;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #e60000;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}