.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-grid-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.category-grid {
    justify-content: center;
    border-radius: 1em;
    padding: 0.2em;
    z-index: -1;
}

.text-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
}