@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --background-image: linear-gradient(120deg ,white, white);
    --background-color: orange;
    --g:/30px 30px radial-gradient(salmon 20%, #0000 0);
}

body {
    margin: 0;
    padding: 1em;
    font-size: large;
    background-image: var(--background-image);
    font-family: quicksand;
}

.navbar {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    transform: translate(0, -0.5em);
}

.logo {
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em;
}

.company-logo {
    width: 10%;
    border-radius: 1em;
    border: 0.5px solid #333;
    transition: all 0.3s ease-in-out;
    padding: 0.5em;
}

.company-logo:hover {
    transform: rotateZ(360deg) scale(1.2);
}

.search-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    transform: translate(-1em);
    width: 60%;
}

.search-bar input[type="search"] {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: quicksand;
}

.upper-right {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.upper-right a {
    text-decoration: none;
}

.icon {
    margin-right: 8px;
    width: 1.5em;
    padding: 1em;
}

.heart-red {
    margin-right: 8px;
    width: 1.5em;
    padding: 1em;
    opacity: 1;
    transition: all 0.3s;
}

.heart-red:hover {
    transform: translate(0.5em, -0.5em) rotate(30deg);
    opacity: 1;
}

.bottomnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--background-image);
}

.nav a, .auth-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.3s ease;
}

.nav a:hover, .auth-links a:hover {
    background-color: var(--background-color);
}

.auth-links {
    margin-right: 2%;
}

    /*slideshow*/
.slider_container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
}
.slide.one {
    background: white;
}
.slide.two {
    background: white;
}white
.slide.three {
    background: white;
}
.slide.four {
    background: white;
}
.slide.five {
    background: white;
}
@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}
    /*slideshow*/

/*gallery*/
.gallery {
    display: flexbox;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0em 1em 0.5em;
    border-radius: 0.5em;
    padding: 2em;
}

.gallery img {
    width: 100%;
}

.gallery-desc {
    padding: 1em;
    text-align: center;
}
/*gallery*/